

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
.logo{
    object-fit: contain;
}
*{
  font-family: 'Montserrat', sans-serif;
}
a,li{
    text-decoration: none;
    list-style-type: none;
}
.main_view{
    /* background: -webkit-linear-gradient(rgba(10, 9, 9, 0.487), rgba(0, 0, 0, 0.369)), url("https://plus.unsplash.com/premium_photo-1682310528700-dbe5a05d99c6?q=80&w=1824&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background: -webkit-linear-gradient(rgba(10, 9, 9, 0.487), rgba(0, 0, 0, 0.369)), url("https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-charity-sale-charity-poster-background-image_165549.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
.bg-blue{
    background-color: #234E70;
}
.bg-yellow{
    background-color: #d3d2b5;
}
.text-blue{
    color: #234E70;
}
.text-yellow{
    color: #d3d2b5;
}


.container_heading_yellow{
  color: #d3d2b5;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;

}
.container_heading_blue{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #234E70;
    text-transform: uppercase;
}
.gallery_wrapper img{
    /* max-height: 300px; */
    max-width: 100%;
    object-fit: cover;
}
nav{
        backdrop-filter: blur(19.25px);
        background-color: #ffffff80;
    
}

#navbar-sticky ul li a:hover{
  color: #234E70;

}

.campaign_box_homepage{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}






  
 
  
  #regForm {
    background-color: #464545;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
 
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #04AA6D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
  .postbg{
    background-color: white;
        width: 100%;
        height: 100vh
       
     
}
.postDetail_container {
  background-color: white;
  width: 65%;
  min-height: 100vh;

}

.postdetail_wrapper {
  width: 80%;
  margin: 0 auto;
}
.flexContainer{
 display: flex;
}
.flexChild {
  width: 28%;
  height: 35vh;
  margin-top: 96px;
border: 2px solid #13476f;
box-shadow: 4px 6px 8px 3px #888888;
}
.color{
color: #13476f;
}


   